.LastNews__container {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 15px;
}
.LastNews__text-container {
    padding-bottom: 15px;
}
.LastNews__carousel-container {
    width: 870px;
    height: 190px;
}
.LastNews__images-container {
    place-content: center;
    height: '190px';
    display: 'flex';
}
.LastNews__image {
    object-fit: cover;
    border-radius: 16px;
    max-height: 190px;
    max-width:  280px;
    margin: 0 5px 0 5px;
}